# Environment variables
.env

# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg

# Virtual Environment
venv/
ENV/

# Logs
*.log

# Output directory
output/
output2/

# PDFs
*.pdf
temp_content.pdf

# IDE specific files
.idea/
.vscode/
*.swp
*.swo 
output2/Latitude 3140 4GB64GB Non Touch_spec.pdf
output2/Latitude 3140 4GB128GB Non Touch_spec.pdf
